<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages</div>
        <ul class="list-inline">
            <li class="list-inline-item">HTML · </li>
            <li class="list-inline-item">CSS · </li>
            <li class="list-inline-item">JavaScript · </li>
            <li class="list-inline-item">Java · </li>
            <li class="list-inline-item">Python · </li>
            <li class="list-inline-item">C · </li>
            <li class="list-inline-item">Swift · </li>
            <li class="list-inline-item">SQL</li>
        </ul>
        
        <br>
        
        <div class="subheading mb-3">Tools</div>
        <ul class="list-inline">
            <li class="list-inline-item">Node.js · </li>
            <li class="list-inline-item">Express.js · </li>
            <li class="list-inline-item">Angular.js · </li>
            <li class="list-inline-item">Xcode · </li>
            <li class="list-inline-item">MongoDB · </li>
            <li class="list-inline-item">Git</li>
        </ul>
        
        <br>
        
        <div class="subheading mb-3">Personal</div>
        <ul class="list-inline">
            <li>Languages - English · Korean</li>
            <li>Passionate</li>
            <li>Communication</li>
            <li>Problem Solving</li>
        </ul>
    </div>
</section>