<section class="resume-section" id="projects">
    <div class="resume-section-content">

        <h2 class="mb-5">Projects</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Save the Coral Reef</h3>
                <div class="subheading mb-3">Final Year Project At Monash University (Team Project)</div>
                <div>
                    A website developed using Node.js, Express.js and Angular.js. BootStrap was adopted for the UI
                    design.
                </div>
                <br>
                <div>
                    Researched habitats and ecosystem of coral reefs in the Australian Ocean, and several factors that
                    affect the coral reefs by analysing datasets. Regular users were offered helpful information based
                    on
                    the analysis and live monitoring system.
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2023</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">My Card</h3>
                <div class="subheading mb-3">Side Project At Monash University (Personal Project)</div>
                <div>
                    A business card-sharing iOS application developed using Xcode with Swift.
                </div>
                <br>
                <div>
                    Google Firebase DB used for card and user details. Search by name, request and QR
                    generation/scanning implemented.
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2022</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Dog and Cookies</h3>
                <div class="subheading mb-3">Side Project At Monash University (Personal Project)</div>
                <div>
                    Simple game developed using Unreal Engine 5 with C++.
                </div>
                <br>
                <div>
                    Players are spawned with a pet and are required to collect cookies on the ground before arriving at
                    the destination. Enemies, weapons, cookies and obstacles are spawned from BluePrints.
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2022</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Community Forum for Soldiers</h3>
                <div class="subheading mb-3">A Project at Web Development Bootcamp in Seoul, South Korea. (Team Project)</div>
                <div>
                    A website developed using SpringBoot framework with Java and JSP.
                </div>
                <br>
                <div>
                    Obtained needs for soldiers in South Korea and developed community forums. Signing Up/In/Out,
                    posting, like/dislike and uploading/downloading attachments implemented.
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
        </div>
    </div>
</section>