<section class="resume-section" id="education">
    <div class="resume-section-content">

        <h2 class="mb-5">Education</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Monash University</h3>
                <div class="subheading mb-3">Bachelor of Computer Science</div>
                <div>Specialisation in Advanced Computer Science</div>
                <p>WAM: 77.600 | GPA: 3.47/4.0 (Equiv. 3.89/4.5)</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2021 - July 2023</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">La Trobe University</h3>
                <div class="subheading mb-3">Bachelor of Computer Science</div>
                <p>Transferred to Monash University after Year 1</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2020 - Nov 2020</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Brunswick Secondary College</h3>
                <!-- <div class="subheading mb-3">Bachelor of Computer Science</div>
                <div>Specialisation in Advanced Computer Science</div>
                <p>WAM: 77.600 | GPA: 3.47/4.0 (Equiv. 3.89/4.5)</p> -->
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Feb 2012 - Nov 2014</span></div>
        </div>
        
    </div>
</section>