<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Auxiliary Police</h3>
                <div class="subheading mb-3">Hyehwa Police Station - Seoul, South Korea</div>
                <p>Leader of a troop who listened to commands from higher rank persons via radio then handled/commanded
                    my troopers accordingly. Responsible for safeguarding people at big events.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Feb 2017 - Nov 2018 (1y 9m)</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Storage Manager</h3>
                <div class="subheading mb-3">The Shilla Duty Free - Seoul, South Korea</div>
                <p>Responsible for stock management and handling.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2016 - Jan 2017 (7m)</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Cashier</h3>
                <div class="subheading mb-3">McDonald's - Freshwater Place</div>
                <p>Responsible for handling cash, accepting orders, making coffee and customer services.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Oct 2016 - June 2017 (8m)</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Kitchen Food Server</h3>
                <div class="subheading mb-3">McDonald's - Colloingwood</div>
                <p>Food preparation and serving as orders come in.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2012 - April 2013 (1y)</span></div>
        </div>
    </div>
</section>